<div class="user-details"></div>
  <!-- <h1 class='italicright' align="left" font-size: 100px>About</h1> -->
  <h1 align="left" style="font-size: 300%">About</h1>

  <h3>I'm a Business Informatics student from Berlin.</h3> 
  <h3>I'm student in Information Systems from Berlin.</h3> 
  <h3>I'm student in Information Systems from Berlin.</h3> 
  <h3>I'm student in Information Systems from Berlin.</h3> 
  <h3>I'm student in Information Systems from Berlin.</h3> 
  <h3>I'm student in Information Systems from Berlin.</h3> 
  <h3>I'm student in Information Systems from Berlin.</h3> 
  <h3>I'm student in Information Systems from Berlin.</h3> 

  </div>
