<div class="user-details"></div>
  <!-- <h1 class='italicleft' align="right" style="font-size: 300%"><strong>Get In Touch</strong></h1> -->
  <h1 align="right" style="font-size: 300%"><strong>Get In Touch, <br /> Say Hello </strong></h1>


  <div class="wrapper" align='center'>
    <span class="change square individual">
      <a class="change ninth before after" href="mailto:nbewer@posteo.de" style="font-weight: inherit; margin-top: 2cm; margin-bottom: 2cm; display: inline-block; color: #646464;" onclick="this.href='mailto:' + 'nbew' + 'er' + '@' + 'posteo' + 
      '.de'">
        nbewer[at]posteo.de  
      </a>
    </span>
  </div>

  