<div id="particles-js">
  <div class="header">

  <!--
  <ul>
    <li><a href="#about" data-scroll>Projects</a></li>
    <li><a href="#about-me" data-scroll>About</a></li>

  </ul>
  -->
    <!-- <div class="header-icons"> -->
      <!-- <span style="display:inline-block; width: 100px; height: 0px;"> -->
      <!--
      <div align = "left", width = 300px>
        <a href="#about" data-scroll>Projects</a>
      </div>
      -->
     <!--  </span> -->
     <!--
     <div align = "center", width = 300px>
        <a href="#about-me" data-scroll>About</a>
      </div>
      <span class="headbarnav">
        <p>❤</p>
        <p><a href="#contact" data-scroll>Contact</a></p>
      </span>
      -->

    
  <!-- </div> -->

    <!-- <a class="down" href="#about" data-scroll><i>Projects</i></a> -->

      <h1>
        <span class="site-title">{{ site.username }}</span>
        
        <head>
        <script src="../src/js/typed.js"></script>
        </head>

        <div>
          <h2 class="site-description">
          
              <span class="type" style="color:rgb(44, 44, 44);"></span>

          </h2>
        </div>
        

        <body>
        <script>
          var typed = new Typed('.type', {
            strings: [
              'I am a Data Scientist',
              'I am a Researcher',
              'I am an aspiring App and Web Developer',
              "<a href='#contact' data-scroll class='change first after' style='color: #4d4d4d'> Who are you? </a>"],
            typeSpeed: 80,
            backSpeed: 80,
            loop: false,
            smartBackspace: true,
            startDelay: 1000,
            backDelay: 1000,
          });
        </script>
        
        </body>

       <!-- <span class="site-description">{{ "Human" }}</span> -->
        
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:nbewer@posteo.de"><i class="icon fa fa-envelope-o"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/NBwr"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://de.linkedin.com/in/nikolaj-bewer-874235176"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Photography" target="_blank" href="https://www.kunst100.com/collections/vendors?q=Nikolaj%20Bewer"><i class="icon fa fa-image" aria-hidden="true"></i></a>
      </div>

  </div>
  <a class="down" href="#about" data-scroll><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
