<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
       <!-- {{ content }} -->
      <section id="about-me">
        {% include about-me.html %}
      </section>
      <section id="contact">
        {% include contact.html %}
      </section>
       <!-- {{ content }} -->
       {% include footer.html %}
  </body>
  <!-- {% include ddssggvvoo.html %} -->
</html>
